body{
    background-color: lavender;
}

/* #imagescss{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
} */

#headerSection{
    padding: 5px;
}
#headerSection h1{
    font-family: cursive;
 }
  
input{
    padding: 10px;
    border-radius: 5px;
 }

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 12%;
}
 
#loginbtn{
    padding: 5px;
    font-size: 15px;
    background-color: rgb(127, 133, 255);
    color: white;
    border-radius:5px;
} 